body {
    background-color: darkgrey;
}
.start-btn, .info-box, .quiz-box, .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
}

.start-btn button {
    font-size: 25px;
    font-weight: 600px;
    color: black;
    padding: 20px 30px;
    border: 2px solid black;
    border-radius: 5px;

}

.info-box {
    display: none;
    width: 540px;
    background: white;
    border-radius: 5px;
    border: 3px solid black;
}

.info-box .info-title {
    height: 60px;
    background-color: #F08080;
    border-bottom: 2px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 25px;
    font-weight: 750;
}

.info-box .info-list {
    padding: 15px 35px;
}

.info-box .info-list .info {
    margin: 5px;
    font-size: 20px;
}

.info-box .info-list .info span {
    font-weight: 600;
    color: orange;
}

.info-box .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    border-top: 1px dashed black;
    background-color: lightskyblue;
}

.info-box .buttons button {
   margin: 5px;
   height: 30px;
   width: 400px;
   color: black;
   border: solid black;
   background-color: grey;
   border-radius: 5px;
}

.buttons button.restart {
    color: black;
    background-color: darkgray;
}

.buttons button.restart:hover {
    background-color: white;
}

.buttons button.quit {
    color: black;
    background-color: lightgray;
}

.buttons button.quit:hover {
    background-color: white;
}

.quiz-box {
    width: 600px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    opacity: 0;
}
.quiz-box header {
    height: 50px;
    padding: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    position: relative;
    z-index: 99;
}

.quiz-box header .title {
    font-size: 30px;
    font-weight: 750;

}

.quiz-box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background-color: lightpink;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

.quiz-box header .timer .time-text {
    font-weight: 400;
    font-size: 20px;
    user-select: none;
}

.quiz-box header .timer .timer-sec {
    font-size: 20px;
    font-weight: 500;
    background-color: indianred;
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    user-select: none;
}

.quiz-box section {
    padding: 25px 30px 20px 30px;
    background-color: blanchedalmond;
    font-size: 20px;
    border-radius: 5px;
}

.quiz-box section .que-text {
    font-size: 25px;
    font-weight: 600;
}
.quiz-box section .option-list {
    padding: 20px;
    display: block;
}

section .option-list .option {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

section .option-list .option:hover {
    background-color: seashell;
}

.option-list .option:last-child {
    margin-bottom: 0px;
}

.quiz-box footer {
    height: 40px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.result-box {
    border: solid black;
    background-color: white;
    width: 300px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
}

.result-box .complete-text {
    font-size: 30px;
    font-weight: 500;
}

.result-box .buttons {
    display: flex;
    margin: 20px;
}

.result-box .buttons button {
    margin: 10px;
    height: 40px;
    padding: 10px;
    border: solid black;
    border-radius: 5px;
}

.buttons button {}